

{{ form_start(form,{'attr': {'role':'form'}}) }}



    <div class="form-group ">
        <label class="control-label no-padding-right">
        {{ form_label(form.name) }}</label> {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.name) }}</div>
    </div>
    <div class="form-group ">
        <label class="control-label no-padding-right">
        {{ form_label(form.description) }}</label> {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
        <div class="help-block with-errors">{{ form_errors(form.description) }}</div>
    </div>


    {% if not button_label is defined %}
        <button class="btn btn-info">{{ button_label|default('Save') }}</button>
        <button class="btn  btn-warning " style="margin-right:20px;" type="reset">Reset</button> {% else %}
        <input type="hidden" name="edit" value="{{edit}}">
        <a href="{{ path('appliance_type_index') }}" class="btn btn-primary">
                        Cancel
                    </a>

        <button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button> 
    {% endif %} 

{{ form_end(form) }}
