
{% extends 'base.html.twig' %}

{% block title %}appliance index
{% endblock %}
{% block maintitle %}
	appliance
{% endblock %}


{% block breadcrumb %}

	<li class="breadcrumb-item active">appliance</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-info collapsed-card">
							<div class="card-header">
								<h3 class="card-title">
									{% if edit  %}Edit
									{% else %}
										Add New
									{% endif %}
								</h3>

								<div class="card-tools">
									<button type="button" class="btn btn-tool " id="collapse" data-card-widget="collapse">
										<i class="fas fa-plus"></i>
									</button>
								</div>
								<!-- /.card-tools -->
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								{% if edit  %}
									{% set button_label = 'Update' %}
								{% endif %}
								{{ include('appliance/_form.html.twig') }}


							</div>
							<!-- /.card-body -->
						</div>
					</div>

					<div class="col-md-12">
						<div class="card ">
							<div class="card-header">
								<h3 class="card-title">appliance List</h3>
								<div class="card-tools">
								
									<form class="form-inline ml-3" >
										<div class="input-group ">
											<input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
											<div class="input-group-append">
												<button class=" input-group-text btn btn-navbar " type="submit">
													<i class="fas fa-search"></i>
												</button>	
											</div>
											
										</div>
									</form>

									
								</div>
							</div>
							<div class="card-body">


								<table class="table table-hover">
									<thead>
										<tr>
											<th>
												#
											</th>
											{# <th>{{ knp_pagination_sortable(appliances, 'applianceName', 'p.appliancename') }}</th> #}
                                            <th>name</th>
                                            <th>Type</th>
											<th>location</th>
											<th>status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% set i = 1 %}
										{% for appliance in appliances %}
											<tr>
												<td>
													{{ i }}
													{% set i = i+1 %}
												</td>
												<td>{{ appliance.name }}</td>
												<td>{{ appliance.type }}</td> 
												<td>{{ appliance.location }}</td> 
												<td>{{ appliance.status }}</td> 
												<td>

													<form class="d-inline" method="post">

														<input type="hidden" name="edit" value="{{appliance.id}}">
														<button class="btn btn-info btn-sm" title="Edit">
															<i class="fa fa-edit"></i>
														</button>
													</form>
													<form class="d-inline" method="post" action="{{ path('appliance_delete', {'id': appliance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

														<input type="hidden" name="_method" value="DELETE">
														<input
														type="hidden" name="_token" value="{{ csrf_token('delete' ~ appliance.id) }}">
														{#  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete">#}
														<button class="btn btn-danger btn-sm" title="Delete">
															<i class="fa fa-trash"></i>
														</button>
													</form>
												</td>
                                                <td>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                    {% else %}
                                                    <form class="d-inline" method="post">
                                                        <button type="submit" class="btn btn-info btn-sm" name="activate" title="activate" value="{{appliance.id}}">
                                                            {% if appliance.status %}
                                                            <i class="fa fa-times"></i>
                                                            {% else %}
                                                            <i class="fa fa-check"></i>
                                                            {% endif %}
                                                        </button>
                                                    </form>
                                                    {% endif %}
                                                    {# <a href="{{ path('appliance_edit', {'id': appliance.id}) }}">edit</a> #}
                                                </td>

											</tr>
										{% else %}
											<tr>
												<td colspan="5">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<br>
								{# {% do appliances.setTemplate('@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') %}
								<div class="float-right">{{ knp_pagination_render(appliances) }}</div> #}
							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>

		</div>
		<!-- /.card-body -->
	</div>
{% block javascripts %}
{% if edit %}
		<script>
		document.getElementById('collapse').click();

{# 
			$(function () {
$('#collapse').trigger('click');
}) #}
		</script>
	{% endif %}
{% endblock %}

{% endblock %}

